<!DOCTYPE html>
<html>
<head>
    <title>Gifts for Orphans</title>
    <link rel="stylesheet" type="text/css" href="../static/style/style.css">
</head>
<body>
    <header>
        <div id="banner">
            <h1>Welcome to Gifts for Orphans</h1>
        </div>
    </header>

    <div id="js-check"></div>

    <main>
        <section id="mission-statement">
            <p>Help us bring joy to orphans this New Year by becoming their Santa!</p>
        </section>

        <section id="auth-section">
            <div id="volunteer-auth">
                <h2>Volunteers</h2>
                <button onclick="location.href='/vollogin'">Login as Volunteer</button>
                <button onclick="location.href='/volreg'">Sign up as Volunteer</button>
            </div>

            <div id="child-auth">
                <h2>Children</h2>
                <button onclick="location.href='/chilog'">Login as Child</button>
                <button onclick="location.href='/chireg'">Sign up as Child</button>
            </div>
        </section>
    </main>

    <footer>
        <p>Contact Us: info@giftsfororphans.org</p>
    </footer>

</body>
</html>
